<p> <a href="/empresa/{{ empresa.id }}">
<strong>{{ empresa.nombre }} </strong>
    <button><a href="/empresa/editar/{{ empresa.id }}">Editar</a></button>
    <button><a href="/empresa/delete/{{ empresa.id }}">Borrar</a></button>
    </a>
</p>