<p> <a href="/trabajador/{{ trabajador.id }}">
                <strong>{{ trabajador.nombre }} </strong>
        </a>
        <button><a href="/trabajador/editar/{{ trabajador.id }}">Editar</a></button>
        <button><a href="/trabajador/delete/{{ trabajador.id }}">Borrar</a></button>
</p>
