{% extends 'base.html.twig'%}
{% block title %}Workers Investigation{% endblock %}
{% block body %}
	<h1>Workers Investigation</h1>
	<h2>Bienvenido, .Que vamos a hacer hoy?</h2>
	<p>Aqui podras ver todos los trabajadores que te interesa para tu empresa</p>
{% endblock %}